.profileAvatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -7px;
}

.profileAvatar-sml {
    vertical-align: middle;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    margin-top: -7px;
}

.profileAvatar-md {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -7px;
}

.profileAvatar-lg {
    vertical-align: middle;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}