.label-likebtn {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: black;
}

.input-likebtn {
    display: none;
}

.input-likebtn:checked+.label-likebtn svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
}

@keyframes heartButton {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.3);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.input-likebtn+.label-likebtn .action-likebtn {
    position: relative;
    overflow: hidden;
    display: grid;
}

.input-likebtn+.label-likebtn .action-likebtn span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
}

.input-likebtn+.label-likebtn .action-likebtn span.option-1 {
    transform: translate(0px, 0%);
    opacity: 1;
}

.input-likebtn:checked+.label-likebtn .action-likebtn span.option-1 {
    transform: translate(0px, -100%);
    opacity: 0;
}

.input-likebtn+.label-likebtn .action-likebtn span.option-2 {
    transform: translate(0px, 100%);
    opacity: 0;
}

.input-likebtn:checked+.label-likebtn .action-likebtn span.option-2 {
    transform: translate(0px, 0%);
    opacity: 1;
}