
@{
    ViewData["Title"] = "Mesaj Uyarısı";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="alert alert-warning" role="alert">
  Hiç mesajınız yok! Kullanıcı profiline giderek birine mesaj yollamayı deneyin.
</div>

